/Saved/
/Intermediate/

/Binaries/Android/
/Binaries/Win64/
/Binaries/Android_ASTC/
/Binaries/**/Saved/
/Binaries/**/Intermediate/
/Binaries/

/Build/Android_ASTC/
/Build/Windows
/Build/WindowsServer/

/Plugins/**/Binaries/
/Plugins/**/Intermediate/
/Plugins/Developer/

/ipch/
/DerivedDataCache/
.vs
*.suo
*.VC.VC.opendb
*.VC.db
*.sln
.idea
desktop.ini

/*.xcworkspace
logcat.txt

*.pdb
*.log

/hooks
/lfs

/enc_temp_folder/**

/Content/**/_Local/**/*
/_ReSharper.Caches
.vsconfig
